*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--font-color);
}

body {
  height: 100vh;
  background: var(--background);
  background-repeat: no-repeat;
}

@media (min-width: 768px) and (max-width: 1024px){

}

@media (min-width: 1025px) {
  
}