*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito Sans', sans-serif;
  color: $font-color;
}

body {
  height: 100vh;
  background: $background;
  background-repeat: no-repeat;
}
