.Header{
  h1{
    font-size: 1.5rem;
  }

  a{
    font-size: 2rem;
    span{
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

.SearchBar{
  input{
    &::placeholder{
      color: $icon-color;
      font-size: 1.5rem;
    }

  }
}

.CountryList{
  .text-wrapper{
    font-size: 1.3rem;

    h1{
      font-size: 2.5rem;
    }
    .country-info-wrapper{
      line-height: 1.8;
    }
  }
}

.CountryInfo{
  font-weight: 700;
  .info-wrapper{
    .country-data{
      font-size: 1.5rem;
      line-height: 2;
      span{
        font-weight: 100;
      }
    }
  }
}

.BackBtn{
  .back-btn-icon{
    color: var(--font-color);
  }
}

