.Landing{

  height: 100vh;
  width: 100vw;

  background-color: blue;
  .Header{
    display: flex;
    height: 8vh;
    justify-content: space-between;

  }

  .SearchBar{
    height: 11vh;
    display: flex;
    justify-content: space-between;
  }
  .dashboard{
    background-color: violet;

    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 81vh;

    padding: 2rem;

    overflow-y: scroll;
    .card-wrapper{
      width: 20%;
      height: 45vh;
      background-color: pink;
      border: 2px solid black;
  
      padding: 4rem 5rem;
      .country-card{
    
        border: 2px solid black;

        width: 100%;
        height: 100%;
        .flag-wrapper{
          width: 100%;
          height: 50%;
          img{
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }
        .text-wrapper{
          height: 50%;
          padding: 2rem;
          h1{
            margin-bottom: 2rem;
          }
          span{
            display: block;
            background-color: aqua;
            h4{
              display: inline-block;
            }
          }
        }
        
      } 
    }
  }
  
  
}